/* header */
.logo-header {
    display: block;
    margin-left: 0 !important;
    margin-top: auto;
}
.logo-header img {
    max-width: 100%;
    height: auto;
}
/* subnavigaiton */
.subnavigation .contact {
    position: static;
}

/* util */
.google-maps iframe {
    height: 400px;
    width: 100%;
}