/* header */
.logo-header {
    display: block;
    margin-left: 0 !important;
    margin-top: auto;
}
.logo-header img {
    max-width: 100%;
    height: auto;
}

/* DEV ONLY */
.hin {
    background: #6CB6E3;
}
.hin img {
    display: none;
}