/* margin helpers */
:root {
  --leading: #{$leading + 'px'};
  --leading-rem: #{$leading-rem + 'rem'};
}

$margins: (
  'top':'t',
  'right':'r',
  'bottom':'b',
  'left':'l',
  'horizontal':'x',
  'vertical':'x',
  'equal':''
);

@each $direction, $prefix in $margins {
  [class*="m#{$prefix}-"] {
    @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
      margin-#{$direction}: 0;
    } @else if $prefix == 'x' {
      margin-left: 0;
      margin-right: 0;
    } @else if $prefix == 'y' {
      margin-top: 0;
      margin-bottom: 0;
    } @else {
      margin: 0;
    }
  }

  .m#{$prefix}-sm-auto {
    @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
      margin-#{$direction}: auto !important;
    } @else if $prefix == 'x' {
      margin-left: auto !important;
      margin-right: auto !important;
    } @else if $prefix == 'y' {
      margin-top: auto !important;
      margin-bottom: auto !important;
    } @else {
      margin: auto !important;
    }
  }

  .m#{$prefix}-sm-0 {
    @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
      margin-#{$direction}: 0 !important;
    } @else if $prefix == 'x' {
      margin-left: 0 !important;
      margin-right: 0 !important;
    } @else if $prefix == 'y' {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    } @else {
      margin: 0 !important;
    }
  }

  .m#{$prefix}-sm-half {
    @include margin-prefix(.5, $prefix, $direction, true);
  }
}

@for $i from 1 through $brick-size {
  $half: $i + 0.5;

  @each $direction, $prefix in $margins {
    .m#{$prefix}-sm-#{$i} {
      @include margin-prefix($i, $prefix, $direction, true);
    }
    // half
    @if $i < $brick-size {
      .m#{$prefix}-sm-#{$i}_half {
        @include margin-prefix($half, $prefix, $direction, true);
      }
    }
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  :root {
    --leading: #{$leading + 'px'};
    --leading-rem: #{$leading-rem + 'rem'};
  }

  @import 'src/mixins/margin';

  @each $direction, $prefix in $margins {
    [class*="m#{$prefix}-sm-"] {
      @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
        margin-#{$direction}: 0;
      } @else if $prefix == 'x' {
        margin-left: 0;
        margin-right: 0;
      } @else if $prefix == 'y' {
        margin-top: 0;
        margin-bottom: 0;
      } @else {
        margin: 0;
      }
    }

    .m#{$prefix}-half {
      @include margin-prefix(.5, $prefix, $direction, true);
    }
  }

  @for $i from 1 through $brick-size {
    $half: $i + 0.5;

    @each $direction, $prefix in $margins {
      .m#{$prefix}-#{$i} {
        @include margin-prefix($i, $prefix, $direction, true);
      }
      // half
      @if $i < $brick-size {
        .m#{$prefix}-#{$i}_half {
          @include margin-prefix($half, $prefix, $direction, true);
        }
      }
    }
  }
}