/* margin helpers */

.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.m-auto {
  margin: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

.mt-half {
  @include margin-top(.5, true);
}
.mr-half {
  @include margin-right(.5, true);
}
.mb-half {
  @include margin-bottom(.5, true);
}
.ml-half {
  @include margin-left(.5, true);
}
.mx-half {
  @include margin-left(.5, true);
  @include margin-right(.5, true);
}
.my-half {
  @include margin-top(.5, true);
  @include margin-bottom(.5, true);
}
.m-half {
  @include margin-equal(.5, true);
}

@for $i from 1 through $brick-size {
  $half: $i + 0.5;

  .mt-#{$i} {
    @include margin-top($i, true);
  }
  .mr-#{$i} {
    @include margin-right($i, true);
  }
  .mb-#{$i} {
    @include margin-bottom($i, true);
  }
  .ml-#{$i} {
    @include margin-left($i, true);
  }
  .mx-#{$i} {
    @include margin-left($i, true);
    @include margin-right($i, true);
  }
  .my-#{$i} {
    @include margin-top($i, true);
    @include margin-bottom($i, true);
  }
  .m-#{$i} {
    @include margin-equal($i, true);
  }

  // half
  @if $i < $brick-size {
    .mt-#{$i}_half {
      @include margin-top($half, true);
    }
    .mr-#{$i}_half {
      @include margin-right($half, true);
    }
    .mb-#{$i}_half {
      @include margin-bottom($half, true);
    }
    .ml-#{$i}_half {
      @include margin-left($half, true);
    }
    .mx-#{$i}_half {
      @include margin-left($half, true);
      @include margin-right($half, true);
    }
    .my-#{$i}_half {
      @include margin-top($half, true);
      @include margin-bottom($half, true);
    }
    .m-#{$i}_half {
      @include margin-equal($half, true);
    }
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import 'src/mixins/margin';

  .mt-half {
    @include margin-top(.5, true);
  }
  .mr-half {
    @include margin-right(.5, true);
  }
  .mb-half {
    @include margin-bottom(.5, true);
  }
  .ml-half {
    @include margin-left(.5, true);
  }
  .mx-half {
    @include margin-left(.5, true);
    @include margin-right(.5, true);
  }
  .my-half {
    @include margin-top(.5, true);
    @include margin-bottom(.5, true);
  }
  .m-half {
    @include margin-equal(.5, true);
  }

  @for $i from 1 through $brick-size {
    $half: $i + 0.5;

    .mt-#{$i} {
      @include margin-top($i, true);
    }
    .mr-#{$i} {
      @include margin-right($i, true);
    }
    .mb-#{$i} {
      @include margin-bottom($i, true);
    }
    .ml-#{$i} {
      @include margin-left($i, true);
    }
    .mx-#{$i} {
      @include margin-left($i, true);
      @include margin-right($i, true);
    }
    .my-#{$i} {
      @include margin-top($i, true);
      @include margin-bottom($i, true);
    }
    .m-#{$i} {
      @include margin-equal($i, true);
    }

    // half
    @if $i < $brick-size {
      .mt-#{$i}_half {
        @include margin-top($half, true);
      }
      .mr-#{$i}_half {
        @include margin-right($half, true);
      }
      .mb-#{$i}_half {
        @include margin-bottom($half, true);
      }
      .ml-#{$i}_half {
        @include margin-left($half, true);
      }
      .mx-#{$i}_half {
        @include margin-left($half, true);
        @include margin-right($half, true);
      }
      .my-#{$i}_half {
        @include margin-top($half, true);
        @include margin-bottom($half, true);
      }
      .m-#{$i}_half {
        @include margin-equal($half, true);
      }
    }
  }
}