/* padding helpers */

$paddings: (
  'top':'t',
  'right':'r',
  'bottom':'b',
  'left':'l',
  'horizontal':'x',
  'vertical':'x',
  'equal':''
);

@each $direction, $prefix in $paddings {
  [class*="p#{$prefix}-"] {
    @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
      padding-#{$direction}: 0;
    } @else if $prefix == 'x' {
      padding-left: 0;
      padding-right: 0;
    } @else if $prefix == 'y' {
      padding-top: 0;
      padding-bottom: 0;
    } @else {
      padding: 0;
    }
  }

  .p#{$prefix}-sm-0 {
    @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
      padding-#{$direction}: 0 !important;
    } @else if $prefix == 'x' {
      padding-left: 0 !important;
      padding-right: 0 !important;
    } @else if $prefix == 'y' {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    } @else {
      padding: 0 !important;
    }
  }

  .p#{$prefix}-sm-half {
    @include padding-prefix(.5, $prefix, $direction, true);
  }
}

@for $i from 1 through $brick-size {
  $half: $i + 0.5;

  @each $direction, $prefix in $paddings {
    .p#{$prefix}-sm-#{$i} {
      @include padding-prefix($i, $prefix, $direction, true);
    }
    // half
    @if $i < $brick-size {
      .p#{$prefix}-sm-#{$i}_half {
        @include padding-prefix($half, $prefix, $direction, true);
      }
    }
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import '../mixins/padding';

  @each $direction, $prefix in $paddings {
    [class*="p#{$prefix}-sm-"] {
      @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
        padding-#{$direction}: 0;
      } @else if $prefix == 'x' {
        padding-left: 0;
        padding-right: 0;
      } @else if $prefix == 'y' {
        padding-top: 0;
        padding-bottom: 0;
      } @else {
        padding: 0;
      }
    }

    .p#{$prefix}-half {
      @include padding-prefix(.5, $prefix, $direction, true);
    }
  }

  @for $i from 1 through $brick-size {
    $half: $i + 0.5;

    @each $direction, $prefix in $paddings {
      .p#{$prefix}-#{$i} {
        @include padding-prefix($i, $prefix, $direction, true);
      }
      // half
      @if $i < $brick-size {
        .p#{$prefix}-#{$i}_half {
          @include padding-prefix($half, $prefix, $direction, true);
        }
      }
    }
  }
}