/* padding helpers */

.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-0 {
  padding: 0 !important;
}

.pt-half {
  @include padding-top(.5, true);
}
.pr-half {
  @include padding-right(.5, true);
}
.pb-half {
  @include padding-bottom(.5, true);
}
.pl-half {
  @include padding-left(.5, true);
}
.px-half {
  @include padding-left(.5, true);
  @include padding-right(.5, true);
}
.py-half {
  @include padding-top(.5, true);
  @include padding-bottom(.5, true);
}
.p-half {
  @include padding-equal(.5, true);
}

@for $i from 1 through $brick-size {
  $half: $i + 0.5;

  .pt-#{$i} {
    @include padding-top($i, true);
  }
  .pr-#{$i} {
    @include padding-right($i, true);
  }
  .pb-#{$i} {
    @include padding-bottom($i, true);
  }
  .pl-#{$i} {
    @include padding-left($i, true);
  }
  .px-#{$i} {
    @include padding-left($i, true);
    @include padding-right($i, true);
  }
  .py-#{$i} {
    @include padding-top($i, true);
    @include padding-bottom($i, true);
  }
  .p-#{$i} {
    @include padding-equal($i, true);
  }

  // half
  @if $i < $brick-size {
    .pt-#{$i}_half {
      @include padding-top($half, true);
    }
    .pr-#{$i}_half {
      @include padding-right($half, true);
    }
    .pb-#{$i}_half {
      @include padding-bottom($half, true);
    }
    .pl-#{$i}_half {
      @include padding-left($half, true);
    }
    .px-#{$i}_half {
      @include padding-left($half, true);
      @include padding-right($half, true);
    }
    .py-#{$i}_half {
      @include padding-top($half, true);
      @include padding-bottom($half, true);
    }
    .p-#{$i}_half {
      @include padding-equal($half, true);
    }
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import 'src/mixins/padding';

  .pt-half {
    @include padding-top(.5, true);
  }
  .pr-half {
    @include padding-right(.5, true);
  }
  .pb-half {
    @include padding-bottom(.5, true);
  }
  .pl-half {
    @include padding-left(.5, true);
  }
  .px-half {
    @include padding-left(.5, true);
    @include padding-right(.5, true);
  }
  .py-half {
    @include padding-top(.5, true);
    @include padding-bottom(.5, true);
  }
  .p-half {
    @include padding-equal(.5, true);
  }

  @for $i from 1 through $brick-size {
    $half: $i + 0.5;

    .pt-#{$i} {
      @include padding-top($i, true);
    }
    .pr-#{$i} {
      @include padding-right($i, true);
    }
    .pb-#{$i} {
      @include padding-bottom($i, true);
    }
    .pl-#{$i} {
      @include padding-left($i, true);
    }
    .px-#{$i} {
      @include padding-left($i, true);
      @include padding-right($i, true);
    }
    .py-#{$i} {
      @include padding-top($i, true);
      @include padding-bottom($i, true);
    }
    .p-#{$i} {
      @include padding-equal($i, true);
    }

    // half
    @if $i < $brick-size {
      .pt-#{$i}_half {
        @include padding-top($half, true);
      }
      .pr-#{$i}_half {
        @include padding-right($half, true);
      }
      .pb-#{$i}_half {
        @include padding-bottom($half, true);
      }
      .pl-#{$i}_half {
        @include padding-left($half, true);
      }
      .px-#{$i}_half {
        @include padding-left($half, true);
        @include padding-right($half, true);
      }
      .py-#{$i}_half {
        @include padding-top($half, true);
        @include padding-bottom($half, true);
      }
      .p-#{$i}_half {
        @include padding-equal($half, true);
      }
    }
  }
}