// Brick Grid

.unigrid-row {
  display: flex;
  flex-wrap: wrap;

  @include margin-horizontal($row-margin-horizontal);
  @include margin-vertical($row-margin-vertical, false);

  [class^="brick"]:first-child {
    margin-top: 0;
  }
}

[class^="brick"] p {
  margin: 0;
}

@for $i from 1 through $brick-size {
  .brick--#{$i} {
    width: 100%;
    @include margin-top($brick-margin-vertical);
    @include margin-horizontal($brick-margin-horizontal);
    @include padding(0, $brick-padding);
  }
}

@for $i from 1 through $brick-size {
  .brick-sm--#{$i} {
    @include brick-width($i);
    @include margin-horizontal($brick-margin-horizontal);
    margin-top: 0;
    margin-bottom: 0;
    @include padding(0, $brick-padding);
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import 'src/mixins/brick';
  @import 'src/mixins/padding';
  @import 'src/mixins/margin';
  @import 'src/mixins/line-height';

  .unigrid-row {
    flex-wrap: nowrap;

    @include margin-horizontal($row-margin-horizontal);
    @include margin-vertical($row-margin-vertical, false);

    &.wrap {
      flex-wrap: wrap;

      [class^="brick"] {
        @include margin-bottom($row-margin-vertical);
      }
    }
  }

  @for $i from 1 through $brick-size {
    $width: ($brick-width / $brick-size) * $i;
    $margin: #{ $leading + 'px'};
    $margin-rem: #{ $leading-rem + 'rem'};

    .brick--#{$i} {
      @include brick-width($i);
      @include margin-horizontal($brick-margin-horizontal);
      margin-top: 0;
      margin-bottom: 0;
      @include padding(0, $brick-padding);
    }
  }
}