// Brick Grid
:root {
  --grid-gutter-x: 0rem;
  --grid-gutter-y: 0rem;
  --grid-padding-x: #{$brick-padding-horizontal};
  --grid-padding-y: #{$brick-padding-vertical};
}

.unigrid-row {
  display: flex;
  flex-wrap: wrap;

  @include row-margin();

  [class^="brick"]:last-child {
    margin-bottom: 0;
  }
}

@for $i from 1 through $brick-size {
  .brick--#{$i} {
    width: 100%;
    @include brick-padding();
    @include brick-margin();
    @include row-margin-bottom();
  }
}

@for $i from 1 through $brick-size {
  .brick-sm--#{$i} {
    @include brick-padding();
    @include brick-width($i);
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;
  $brick-width: $brick-width-desktop;

  @import 'src/mixins/brick';
  @import 'src/mixins/padding';
  @import 'src/mixins/row';

  .unigrid-row {
    flex-wrap: nowrap;

    @include row-margin();

    &.wrap {
      flex-wrap: wrap;

      [class^="brick"] {
        @include row-margin-bottom();
      }
    }
  }

  @for $i from 1 through $brick-size {
    .brick--#{$i} {
      @include brick-padding();
      @include brick-width($i);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}