/* brick ordering */
.unigrid-row {
  [class*="order"] {
    order: 0;
  }

  .order-sm--first {
    order: -1;
  }

  .order-sm--last {
    order: 99;
  }

  @for $i from 0 through $brick-size {
    .order-sm--#{$i} {
      order: #{$i};
    }
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  .unigrid-row {
    [class*="order-sm--"] {
      order: 0;
    }

    .order--first {
      order: -1;
    }

    .order--last {
      order: 99;
    }

    @for $i from 0 through $brick-size {
      .order--#{$i} {
        order: #{$i};
      }
    }
  }
}