// brick-width
@mixin brick-width($number, $half:false) {
  $width: ($brick-width / $brick-size) * $number;
  $margin: $leading;
  $margin-rem: $leading-rem;
  @if $half {
    $margin: $margin / 2;
    $margin-rem: $margin-rem / 2;
  }

  width: calc(#{$width} - #{$margin + 'px'});
  width: calc(#{$width} - #{$margin-rem + 'rem'});
}