// Margin-top
@mixin margin-top($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  margin-top: #{ $number * $leading + 'px' + $important};
  margin-top: #{ $number * $leading-rem + 'rem' + $important};
}

// Margin-bottom
@mixin margin-bottom($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  margin-bottom: #{ $number * $leading + 'px' + $important};
  margin-bottom: #{ $number * $leading-rem + 'rem' + $important};
}

// Margin-horizontal
@mixin margin-horizontal($number, $half:true) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;
  @if $half {
    $margin: $margin / 2;
    $margin-rem: $margin-rem / 2;
  }

  margin-right: #{ $margin + 'px'};
  margin-right: #{ $margin-rem + 'rem'};

  margin-left: #{ $margin + 'px'};
  margin-left: #{ $margin-rem + 'rem'};
}

// Margin-left
@mixin margin-left($number,$is-important:false) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  margin-left: #{ $margin + 'px' + $important};
  margin-left: #{ $margin-rem + 'rem' + $important};
}

// Margin-right
@mixin margin-right($number,$is-important:false) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  margin-right: #{ $margin + 'px' + $important};
  margin-right: #{ $margin-rem + 'rem' + $important};
}

// Margin-vertical
@mixin margin-vertical($number, $half:true) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;
  @if $half {
    $margin: $margin / 2;
    $margin-rem: $margin-rem / 2;
  }

  margin-top: #{ $margin + 'px'};
  margin-top: #{ $margin-rem + 'rem'};

  margin-bottom: #{ $margin + 'px'};
  margin-bottom: #{ $margin-rem + 'rem'};
}

// Margin
@mixin margin($top, $right, $bottom:null, $left:null) {
  $y: auto;
  $y-rem: auto;
  @if $top != auto {
    $y: #{ $top * $leading + 'px'};
    $y-rem: #{ $top * $leading-rem + 'rem'};
  }

  $x: auto;
  $x-rem: auto;
  @if $right != auto {
    $x: #{ $right * $leading + 'px'};
    $x-rem: #{ $right * $leading-rem + 'rem'};
  }

  @if $left == null and $bottom == null {
    margin:$y $x;
    margin: $y-rem $x-rem;
  } @else if $left == null or $left == $right {
    margin: $y $x #{ $bottom * $leading + 'px'};
    margin: $y-rem $x-rem #{ $bottom * $leading-rem + 'rem'};
  } @else {
    margin: $y $x #{ $bottom * $leading + 'px'} #{ $left * $leading + 'px'};
    margin: $y-rem $x-rem #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}

@mixin margin-equal($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  margin: #{ $number * $leading + 'px' + $important};
  margin: #{ $number * $leading-rem + 'rem' + $important};
}

@mixin margin-prefix($number,$prefix,$direction,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
    margin-#{$direction}: #{ $number * $leading + 'px' + $important};
    margin-#{$direction}: #{ $number * $leading-rem + 'rem' + $important};
  }
  @else if $prefix == 'x' {
    @include margin-left($number, $is-important);
    @include margin-right($number, $is-important);
  }
  @else if $prefix == 'y' {
    @include margin-top($number, $is-important);
    @include margin-bottom($number, $is-important);
  }
  @else {
    @include margin-equal($number, $is-important);
  }
}
