// Margin-top
@mixin margin-top($number) {
  margin-top: #{ $number * $leading + 'px'};
  margin-top: #{ $number * $leading-rem + 'rem'};
}

// Margin-bottom
@mixin margin-bottom($number) {
  margin-bottom: #{ $number * $leading + 'px'};
  margin-bottom: #{ $number * $leading-rem + 'rem'};
}

// Margin-horizontal
@mixin margin-horizontal($number, $half:true) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;
  @if $half {
    $margin: $margin / 2;
    $margin-rem: $margin-rem / 2;
  }

  margin-right: #{ $margin + 'px'};
  margin-right: #{ $margin-rem + 'rem'};

  margin-left: #{ $margin + 'px'};
  margin-left: #{ $margin-rem + 'rem'};
}

// Margin-left
@mixin margin-left($number) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;

  margin-left: #{ $margin + 'px'};
  margin-left: #{ $margin-rem + 'rem'};
}

// Margin-right
@mixin margin-right($number) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;

  margin-right: #{ $margin + 'px'};
  margin-right: #{ $margin-rem + 'rem'};
}

// Margin-vertical
@mixin margin-vertical($number, $half:true) {
  $margin: $number * $leading;
  $margin-rem: $number * $leading-rem;
  @if $half {
    $margin: $margin / 2;
    $margin-rem: $margin-rem / 2;
  }

  margin-top: #{ $margin + 'px'};
  margin-top: #{ $margin-rem + 'rem'};

  margin-bottom: #{ $margin + 'px'};
  margin-bottom: #{ $margin-rem + 'rem'};
}

// Margin
@mixin margin($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    margin: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'};
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    margin: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'};
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    margin: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'} #{ $left * $leading + 'px'};
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}
