// padding
@mixin padding($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'};
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'};
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    padding: #{ $top * $leading + 'px'} #{ $right * $leading + 'px'} #{ $bottom * $leading + 'px'} #{ $left * $leading + 'px'};
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}

@mixin padding-equal($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  padding: #{ $number * $leading + 'px' + $important};
  padding: #{ $number * $leading-rem + 'rem' + $important};
}

@mixin padding-top($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  padding-top: #{ $number * $leading + 'px' + $important};
  padding-top: #{ $number * $leading-rem + 'rem' + $important};
}

@mixin padding-right($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  padding-right: #{ $number * $leading + 'px' + $important};
  padding-right: #{ $number * $leading-rem + 'rem' + $important};
}

@mixin padding-bottom($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  padding-bottom: #{ $number * $leading + 'px' + $important};
  padding-bottom: #{ $number * $leading-rem + 'rem' + $important};
}

@mixin padding-left($number,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  padding-left: #{ $number * $leading + 'px' + $important};
  padding-left: #{ $number * $leading-rem + 'rem' + $important};
}

@mixin padding-prefix($number,$prefix,$direction,$is-important:false) {
  $important: '';
  @if $is-important {
    $important: ' !important';
  }

  @if $prefix != '' AND $prefix != 'x' AND $prefix != 'y' {
    padding-#{$direction}: #{ $number * $leading + 'px' + $important};
    padding-#{$direction}: #{ $number * $leading-rem + 'rem' + $important};
  }
  @else if $prefix == 'x' {
    @include padding-left($number, $is-important);
    @include padding-right($number, $is-important);
  }
  @else if $prefix == 'y' {
    @include padding-top($number, $is-important);
    @include padding-bottom($number, $is-important);
  }
  @else {
    @include padding-equal($number, $is-important);
  }
}
