// fonts
$font-family: 'Inter', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

$header-background: black;
$header-color: white;

// gutenberg

/* Configuration
   ========================================================================== */

$edit-mode: true !default; // [ true / false ] - Enables/disables the grid toggle button.

// Paragraph indenting
$paragraph-indent: false; // [ true / false ]

// global width
$width: 95%;
$width-desktop: 85%;
$max-width-desktop: 1280px;

// Colors
$color-font-body: $dark-grey !default;
$color-font-headings: $color-font-body !default;
$color-font-light: #888 !default;
$color-font-figcaption: $color-font-body !default;

/* Font themes
   ========================================================================== */
$font-body: $font-family;
$font-headings: null !default;

// Base sizes
$base-font-size: 100 !default; // In %. Also used for mobile. Number only, no units.
$base-font-size-desktop: 112.5 !default; // In %. Used to calculate the desktop font size. Number only, no units.
$line-height: 1.625 !default;
$line-height-desktop: 1.7 !default;
$max-width: 35 !default; // Number only, no units. Gets converted to REMs and pixels.

/* Calculations
   ========================================================================== */

// Mobile base & leading
$base: 16 * ($base-font-size / 100);
$leading: round($base * $line-height);
$leading-rem: $leading / $base;

// Desktop base & leading
$base-desktop: 16 * ($base-font-size-desktop / 100);
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop;

// Brick Grid
$brick-size: 12;
$brick-width: 100%;
$brick-width-desktop: 100%;

$brick-gutter-horizontal: $leading-rem;
$brick-gutter-horizontal-desktop: $leading-rem-desktop;
$brick-gutter-horizontal-type: 'rem';
$brick-gutter-horizontal-multiplier: .5;

$brick-gutter-vertical: $leading-rem;
$brick-gutter-vertical-desktop: $leading-rem-desktop;
$brick-gutter-vertical-type: 'rem';
$brick-gutter-vertical-multiplier: .5;

$brick-padding-horizontal: .25;
$brick-padding-horizontal-multiplier: .25;
$brick-padding-vertical: 0;
$brick-padding-vertical-multiplier: .25;
