// Header
// todo fixed

header {
  display: flex;

  background: $header-background;
  color: $header-color;

  @include padding(.5,0);
  @include height(2);

  .menu {
    @include margin-horizontal(.5,false);
  }

  .brand,
  .brand:link,
  .brand:hover,
  .brand:visited,
  .brand:active {
    font-weight: $font-weight-heavy;
    @include font-size(2.5);
    @include line-height(1);
    @include margin-horizontal(.5,false);

    color: $header-color !important;

    &:link,
    &:active,
    &:visited,
    &:hover {
      text-decoration: none;
    }
  }

  .menu + .brand {
    margin-left: 0;
  }
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import '../mixins/font-size';
  @import '../mixins/height';
  @import '../mixins/line-height';
  @import '../mixins/padding';

  header {
    @include padding(.5,0);
    @include height(2);

    .menu {
      @include margin-horizontal(.5,false);
    }

    .brand {
      @include font-size(2.5);
      @include line-height(1);
      @include margin-horizontal(.5,false);
    }
  }
}