// Jumbotron

.jumbotron {
  width: $width;
  margin-left: auto;
  margin-right: auto;

  background: red;
  color: white;

  @include padding(1.5,.5,.5);
  @include margin-bottom(1);
  @include line-height(1);
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  $leading: $leading-desktop;
  $leading-rem: $leading-rem-desktop;

  @import '../mixins/padding';
  @import '../mixins/margin';
  @import '../mixins/line-height';

  .jumbotron {
    @include padding(1.5,.5,.5);
    @include margin-bottom(1);
    @include line-height(1);

    width: $width-desktop;
    max-width: $max-width-desktop;
  }
}